html {
    min-height: 100vh;
    background-image: url(../img/wdl-bg-gray.jpg);
    color: #fff;
    font-family: sans-serif;
    background-size: cover;
    background-blend-mode: darken;
    background-color: #ff5e00;
    background-repeat: no-repeat;
}

body {
	text-align: center;
	font-family: "Roboto";
}

h1 {
    text-transform: uppercase;
}

p {
    text-transform: lowercase;
}

a:-webkit-any-link, a {
	color: #f3f3f3;
}


.flex-container {
	display: -webkit-box; 
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-container > * {
	display: inline-block;
}

.social-media-list {
	max-width: 400px;
	margin: 0 auto;
}